* {
    margin: 0px;
    padding: opx;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: White;
    position: absolute;
    top: 100px;
    left: 50vw;
}

svg{
margin-top: 0px;
}

@media screen and (max-width: 768px) {
    #Layer_1 { 
        background-color: pink;
    }
}

@media screen and (max-width: 600px) {
    #Layer_1 { 
        background-color: purple;
    }
}
